form {
    background-color: greenyellow;
    width: 300px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

input, select, textarea {
    display: block;
    margin: auto;
}

#select {
    display: flex;
    margin: auto;
    width: 250px;
}

input {
    width: 250px;
}

.error{
    color:red;
    /* font-size: 10px; */
    margin: auto;
    width: 250px;
}

.message{
    margin: auto;
    display: block;
    width: 100%;
    /* border-style: solid; */
    text-align: center;
    color: green;
    /* background-color: white; */
}